---
---

@import "{{ site.theme }}";

div.transbox {
    margin: 30px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    text-align: center;
    margin: 5%;
    font-weight: bold;
    color: #000000;
    }

#social {
    margin: 20px 10px;
    text-align: center;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}
/* facebook button class*/
.facebookBtn {
    background: #4060A5;
}

    .facebookBtn:before { /* use :before to add the relevant icons */
        font-family: "FontAwesome";
        content: "\f09a"; /* add facebook icon */
    }

    .facebookBtn:hover {
        color: #4060A5;
        background: #fff;
        border-color: #4060A5; /* change the border color on mouse hover */
    }
/* twitter button class*/
.twitterBtn {
    background: #00ABE3;
}

    .twitterBtn:before {
        font-family: "FontAwesome";
        content: "\f099"; /* add twitter icon */
    }

    .twitterBtn:hover {
        color: #00ABE3;
        background: #fff;
        border-color: #00ABE3;
    }
/* youtube button class*/
.youtubeBtn {
    background: #cb2027;
}

    .youtubeBtn:before {
        font-family: "FontAwesome";
        content: "\f167"; /* add youtube icon */
    }

    .youtubeBtn:hover {
        color: #cb2027;
        background: #fff;
        border-color: #cb2027;
    }
/* spotify button class*/
.spotifyBtn {
    background: #000000;
}

.spotifyBtn:before {
    font-family: "FontAwesome";
    content: "\f1bc"; /* add spotify icon */
}

    .spotifyBtn:hover {
        color: #00FA9A;
        background: #fff;
        border-color: #00FA9A;
    }
/* rss button class*/
.rssBtn {
    background: #e88845;
}

    .rssBtn:before {
        font-family: "FontAwesome";
        content: "\f09e"; /* add rss icon */
    }

    .rssBtn:hover {
        color: #e88845;
        background: #fff;
        border-color: #e88845;
    }